*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header, footer{
    display: block;
}
#cabecera{
    background-color: cadetblue;
}
header p{
    margin-right: 50%;
}
header p, nav, .list-item{
    position: relative;
    display: inline-block;
    color: cornsilk;
}
.list-item{
    list-style: none;
    float: right;
    margin-right: 25px;
}
main{
    height: 80vh;
}
#columna, .principal{
    height: 80vh;
    display: inline-block;
}
#columna{
    width: 20vw;
    background-color: darkorchid;
    padding: 10px 10px;
}
.principal{
    position: absolute;
    left: 20vw;
    width: 80vw;
    background-color: green;
}
#columna blockquote{
    background-color: darkcyan;
    border-radius: 2px;
    height: 100px;
    text-align: center;
    margin-bottom: 10px;
}
footer{
    padding: 10px 10px;
    background-color: lightseagreen;
}
.footer-info, .footer-redes, .footer-redes p{
    display: inline-block;
}
.footer-info{
    width: 20vw;
    text-align: center;
}
.footer-redes{
    position: absolute;
    left: 60vw;
}
.footer-redes p{
    background-color: lightslategrey;
    text-align: center;
    width: 6vw;
    height: 3vh;
    border-radius: 2px;
    margin-right: 20px;
}